<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Bookings</h2>
    </div>
    <div class="panel-body">
      <button (click)="createBooking()" class="btn btn-info">Add Booking</button>
      <table class="table table-striped">
        <thead>
          <tr>
          <th>Ranking</th>
          <th>Client Name</th>
          <th>Duration</th>
          <th>Valability</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of bookings | async">
            <td>{{booking.ranking}}</td>
            <td>{{booking.name}}</td>
            <td>{{booking.duration}}</td>
            <td>{{booking.valability}}</td>
            <td>
              <div *ngIf="checkValability(booking.valability)">
                <button (click)="rankBooking(booking.id)"class="btn btn-info" style="margin-left: 10px">Rank</button></div>
              <div *ngIf="checkValability2(booking.valability)">
                <button (click)="activateBooking(booking.id)"class="btn btn-info" style="margin-left: 10px">Activate</button>
                <button (click)="deleteBooking(booking.id)"class="btn btn-info" style="margin-left: 10px">Refuse</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>